<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Books</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
  </head>
  <body class="bg-gray-100">
    <section class="py-10 mb-3">
      <h1 class="text-center text-4xl font-bold mb-6">Django Books</h1>
      <hr class="my-6 border-b-2 border-gray-300" />
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for book in books %}
        <a
          href="{% url 'book.show' book.id %}"
          class="flex flex-col items-center bg-white rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105"
          target="_blank"
        >
          <div class="p-4">
            <img src="{{ book.thumbnailUrl }}" alt="{{ book.title }}" class="w-48 h-64 object-cover rounded-t-lg" />
          </div>
          <div class="px-4 py-2 text-center">
            <p class="text-lg text-gray-900 font-semibold">{{ book.title }}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </section>
  </body>
</html>
