<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Book Detail</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
  </head>
  <body>
    <section class="py-10">
      <h1 class="text-center text-4xl">{{book.title}} Details</h1>
      <div class="flex justify-center">
        <p>
          <img src="{{book.thumbnailUrl}}" width="200" />
        </p>
      </div>
      <p>{{boo.pageCount}}</p>
      <p>{{boo.shortDescription}}</p>
      <p>{{boo.longDescription}}</p>
      <p>{{boo.page}}</p>
     
    </section>
  </body>
</html>
